<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <h1>_________</h1>
      <img src='Assets/images/profile.jpg' alt='Picture of me' style='width:300px; height:400px'/>
      <h3>Hi, my name is Khanh Hung Phan. You can call me Jeremy if you want to.</h3>
      <h3>I'm currently study Software Engineering at Centennial College, Canada.</h3>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>
 
<%- include partials/footer.ejs %>
 









