<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <h1>_________</h1>
      <form>
        <form id='form'>
          <label for="name">Name:</label><br>
          <input type="text" id="name"><br>
          <label for="email">Email:</label><br>
          <input type="text" id="email"><br>
          <label for="phone">Contact Number:</label><br>
          <input type="number" id="phone"><br>
          <label for="des">Description:</label><br>
          <input type="text" id="des"><br><br>
          <input type="submit" value="Submit">
        </form>
      </form>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>
 
<%- include partials/footer.ejs %>
 









