<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  
  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <h1>_________</h1>
      <h3>Sorry, I'm new to Software Engineering and I don't have any project.</h3>
      <h3>This Express Portfolio is one of my project if it's count.</h3>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>
 
<%- include partials/footer.ejs %>
 









